<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>projectKey</key>
        <string>sunrise-demo-staging-1</string>
        <key>scope</key>
        <string>view_products:sunrise-demo-staging-1 manage_my_profile:sunrise-demo-staging-1 manage_my_orders:sunrise-demo-staging-1 create_anonymous_token:sunrise-demo-staging-1</string>
        <key>clientId</key>
        <string>ODVQbfh4pBP-dWpBkd4KewH5</string>
        <key>clientSecret</key>
        <string>7Qm1SFxirhxXtAfKI5nRX70zmBDnPDLL</string>
        <key>authUrl</key>
        <string>https://auth.europe-west1.gcp.commercetools.com</string>
        <key>apiUrl</key>
        <string>https://api.europe-west1.gcp.commercetools.com</string>
        <key>anonymousSession</key>
        <true/>
    </dict>
</plist>
