<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>projectKey</key>
        <string>sunrise-restore-1</string>
        <key>scope</key>
        <string>view_products:sunrise-restore-1 manage_my_profile:sunrise-restore-1 manage_my_orders:sunrise-restore-1</string>
        <key>clientId</key>
        <string>G3uGPcJbuGXnyFdEqYKIVzUa</string>
        <key>clientSecret</key>
        <string>0gjYkyytWLsrVAWekcJU2hWi0JbSOevC</string>
        <key>authUrl</key>
        <string>https://auth.sphere.io</string>
        <key>apiUrl</key>
        <string>https://api.sphere.io</string>
    </dict>
</plist>
