<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>projectKey</key>
        <string>sunrise-staging</string>
        <key>scope</key>
        <string>view_products:sunrise-staging manage_my_profile:sunrise-staging manage_my_orders:sunrise-staging</string>
        <key>clientId</key>
        <string>js98c6NUsGN2NuoUvOvPm-4b</string>
        <key>clientSecret</key>
        <string>gQEhr2o3Erh3VXumLLIuPzqu_ikMoYix</string>
        <key>authUrl</key>
        <string>https://auth.sphere.io</string>
        <key>apiUrl</key>
        <string>https://api.sphere.io</string>
    </dict>
</plist>
