<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>projectKey</key>
        <string>sunrise-production</string>
        <key>scope</key>
        <string>view_products:sunrise-production manage_my_profile:sunrise-production manage_my_orders:sunrise-production</string>
        <key>clientId</key>
        <string>9qzbKJ_BvGqeHn8p7JV7f-rm</string>
        <key>clientSecret</key>
        <string>MRzx7hkO8Dgq92e4NnVe346jT0psng42</string>
        <key>authUrl</key>
        <string>https://auth.sphere.io</string>
        <key>apiUrl</key>
        <string>https://api.sphere.io</string>
    </dict>
</plist>
