<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>projectKey</key>
        <string>sunrise-demo-production-1</string>
        <key>scope</key>
        <string>view_products:sunrise-demo-production-1 manage_my_profile:sunrise-demo-production-1 manage_my_orders:sunrise-demo-production-1 create_anonymous_token:sunrise-demo-production-1</string>
        <key>clientId</key>
        <string>TwWyXK-9JjtOuJ83bi6dppcJ</string>
        <key>clientSecret</key>
        <string>3ffxKILm1Rex78ZBFJHo49hUu8ZdwBlU</string>
        <key>authUrl</key>
        <string>https://auth.sphere.io</string>
        <key>apiUrl</key>
        <string>https://api.sphere.io</string>
        <key>anonymousSession</key>
        <true/>
        <key>keychainAccessGroupName</key>
        <string>H2968B9CHK.com.commercetools.Sunrise</string>
        <key>shareWatchSession</key>
        <true/>
    </dict>
</plist>
