<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationSecret</key>
	<string>1e9898f4f8722cfcae67e45bd96849f6</string>
	<key>applicationID</key>
	<string>5786c12785216d3ab8000045</string>
	<key>notificationTypes</key>
	<dict>
		<key>sound</key>
		<true/>
		<key>alert</key>
		<true/>
		<key>badge</key>
		<true/>
	</dict>
</dict>
</plist>
