<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationSecret</key>
	<string>b2560ca0865d797013615d232bbe5991</string>
	<key>applicationID</key>
	<string>5786c0ab85216d031b00004b</string>
	<key>notificationTypes</key>
	<dict>
		<key>sound</key>
		<true/>
		<key>alert</key>
		<true/>
		<key>badge</key>
		<true/>
	</dict>
</dict>
</plist>
